  <p id="blockTitle">Contact</p>
  <a class=" decoration-none" target="_blank" href="mailto:l2268823762@gmail.com"
    >l2268823762@gmail.com</a
  >
  <a class=" decoration-none" target="_blank" href="https://github.com/anweii2233"
    >Github</a
  >
  <a class=" decoration-none" target="_blank" href="https://pic.ekar.site"
    >Photography Site</a
  >

<style>
a{
    @apply defaultLink max-w-max
  }
</style>
